<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="endpoint" value="10.5.108.33:50051"/>
      <add key="update_rate" value="1000"/>
    </appSettings>
</configuration>